.header {
  background-color: var(--bg);
  position: fixed;
  height: 70px;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
  }

  &__search {
    position: relative;

    &__icon {
      position: absolute;
      top: 13px;
      left: 13px;

      svg {
        path {
          stroke: var(--text);
        }
      }
    }

    &__input {
      width: 100%;
      padding: 17px 45px;
      outline: none;
      border: none;
      background: var(--base);
      border-radius: 25px;
      border: 1px solid var(--base);
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: var(--text);

      &:focus {
        border: 1px solid var(--focus);
      }
    }
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  &__icon {
    color: var(--text);
    padding: 10px 12px;
    cursor: pointer;
    background: var(--color);
    border-radius: 10px;
    font-size: 21px;

    &:hover {
      background: var(--color-hover);
    }
  }

  &__login {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-left: 1px solid #e5e5e5;
    padding-left: 2rem;
    align-items: center;

    @media (max-width: 440px) {
      padding-left: 1rem;
    }
  }

  &__img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 15px;

    &__user {
      border-radius: 50%;
    }
  }

  &__user {
    color: var(--text);

    &__theme {
      cursor: pointer;

      @media (max-width: 500px) {
        display: none;
      }
    }

    &__signin {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
    @media (max-width: 500px) {
      display: none;
    }
  }
}
